@import '../../styles/common';

.slide-container {
  float: left;
  width: $menu-width;
  margin-left:-15px;

  .menu {
    min-height: $page-content-min-height;
    a {
      color:#fff;
      text-decoration:none;
    }
  }
}